.wrapper{
	display: flex;
	flex-flow: row wrap;
}

.wrapper > *{
	flex: 1 50%;
}

.news-grid{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;
	position: inherit;
}

.charts-grid{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;
	position: inherit;
}

.row-news, .row-charts{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	position: inherit;
	margin: 0;
}



.column-news{
	flex: 50%;
	max-width: 50%;
	width: 50%;
	position: inherit;
}

.column-charts-left, .column-charts-right{
	flex: 50%;
	max-width: 50%;
	width: 50%;
	height: 100%;
	max-height: 100%;
	position: inherit;
}

.billboard-list{
	border: 1px solid #c3c3c3;
}

.column-news img{
	position: relative;
	height: 100%;
	width: 100%;
}

.column-news-left, .column-news-right{
	display: flex;
	flex-flow: row wrap;
	height: auto;
}

.image-news, .image-news-big{
	width: 100%;
	height: 243px;
}



.image-news-big-data{
	text-align: center;
	margin-left: 37px;
	margin-right: 45px;
	margin-top: 35.5px;
}

.image-charts-big{
	width: 100%;
	height: 360px;
}

.image-container, .column-charts-left{
	height: auto;
	width: 100%;
	position: relative;
}

.image-container:hover .image-news{
	opacity: 0.3;
}

.image-container:hover .image-data{
	opacity: 1;
}

.image-data{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-data-text{
	color: black;
	font-size: 16px;
	padding: 16px 32px;
}

.news-header,{
	padding-left: 58px;
	padding-top: 20.6px;
	padding-bottom: 22px;
	border: 1px solid #c3c3c3;
	margin: 0;
	text-align: left;
}

.column-charts-left-data{
	padding-left: 32px;
}

.column-charts-left-data-chart-name{
	font-size: 18px;
	margin: 0;
	margin-top: 15.2px;
	color: #343434;
}

.column-charts-left-data-singer-name{
	font-size: 23px;
	font-weight: bold;
	margin: 0;
	color: #343434;
	margin-top: 15px;
}

.column-charts-left-data-song-name{
	font-size: 14px;
	margin: 0;
	margin-top: 13px;
	color: #343434;

}

.news, .charts{
	border: 1px solid #c3c3c3;
}

.billboard-header{
	padding: 0;
	margin: 0;
	padding-left: 27px;
	padding-top: 12.4px;
	padding-bottom: 17.8px;
	color: #343434;
	border: 1px solid #c3c3c3;
}

.billboard-list-1, .billboard-list-2, .billboard-list-3{
	display: inline-flex;
	margin-left: 25px;
	margin-right: 84px;
	margin-top: 37px;
}

.billboard-list img{
	height: 95px;
	width: 95px;
}

.billboard-list-data{
	margin-left: 16px;

}

.billboard-list-data p{
	margin : 0;
	padding: 0;
	font-size: 16px;
}

.billboard-all-charts{
	width: 100%;
	padding: 0;
	text-align: center;
	color: #C9A976;
	margin-bottom: 28px;
}

.videos-header{
	margin:0;
	width: 100%;
	border: 1px solid #c3c3c3;
	padding-left: 57.9px;
	padding-top: 20.6px;
	padding-bottom: 19.6px;
}

.videos-container{
	background: #25252A;
	flex: 100%;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;
	display: flex;
	padding-left: 39px;
	padding-right: 39px;
}

.videos-container div{
	background: #ffffff;
	margin-top: 49px;
	margin-bottom: 60px;
	height: 100%;

}

.video-image-1, .video-image-2, .video-image-3{
	margin-top: 19px;
	margin-left: 17px;
	margin-right: 21px;
}

.video-1, .video-2, .video-3{
	margin-top: 49px;
	margin-bottom: 60px;
}

.video-1{
	margin-left: 83px;
}

.video-2, .video-3{
	margin-left: 39px;
}

.video-3{
	margin-right: 76px;
}

.video-text-1, .video-text-2, .video-text-3{
	padding: 0;
	text-align: left;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 53.8px;
}

.like-button-container{
	display: flex;
	
}

.actions-container{
	margin-top: 10px;
	border-top: 1px solid #c3c3c3;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-left: 5px;
	display: flex;
}

.like-button-text{
	margin-right: 10px;
}

.like-button-count{
	margin-right: 15px;
}

.music-block, .facts-block{
	border: 1px solid #c3c3c3;
}

.music-news-2-pic-container{
	display: flex;
}

.news-2-pic-1{
	flex : 40%;
}

.news-2-pic-2{
	flex : 60%;
}

.music-news-pic-big{

}

.music-block-more, .facts-block-more{
	text-align: center;
	color: #C9A976;
	margin-top: 62.5px;
	margin-bottom: 108px;
}

.divider{
	border: none;
	height: 1.5px;
	background-color: #c3c3c3;
	margin: 5 5 5 5;
}

.facts-news-1-images-container{
	display: flex;
}

.facts-news-1-images-small-container{
	display: inline-block;
}

.home-footer{
	display: flex;
	background-color: #00000E;
}

.home-footer h1{
	color: #FFFFFF;
}

.home-footer h5{
	color: #FFFFFF;
}

.home-footer p{
	color: #FFFFFF;
}

.home-footer a{
	color: #FFFFFF;
}
.footer-col-1{
	flex: 30%;
}

.footer-col-2{
	flex: 35%;
}

.footer-col-3{
	flex: 35%;
}

